* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#author {
  position: absolute;
  text-shadow: black 0 0 2px;
  text-align: right;
  top: 18px;
  right: 24px;
  color: white;
  cursor: default;
  user-select: none;
  z-index: 5;
  &.expanded {
    cursor: pointer;
  }
}

.bubble-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  height: 8.4rem;
  border-radius: 0 0 0 8px;
  z-index: 1;
  overflow: hidden;
  .bubble {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    aspect-ratio: 1;
    background: white;
    border-radius: 0 0 0 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: width 0.5s ease-in-out, background 0.25s;
    cursor: pointer;
    &.expanded {
      width: 200%;
    }
    .content-wrapper {
      padding-top: 4rem;
      padding-right: 1.6rem;
      max-width: 14rem;
      min-width: 14rem;
      text-align: right;
      .content {
        z-index: 5;
      }
    }
  }
}
