* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#author {
  position: absolute;
  text-shadow: black 0 0 2px;
  text-align: right;
  top: 18px;
  right: 24px;
  color: white;
  cursor: default;
  user-select: none;
  z-index: 5;
  &.expanded {
    cursor: pointer;
  }
}

.bubble-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 225px;
  .bubble {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: clip-path 0.3s ease-in-out, background 0.25s;
    text-align: right;
    padding: 1.4rem;
    padding-top: 4rem;
    border-radius: 0 0 0 8px;
    clip-path: circle(15% at top right);
    cursor: pointer;
    &.expanded {
      clip-path: circle(150% at top right);
    }
  }
}
